<% layout("/layouts/boilerplate") %>

<div id="filters">
    <a href="/listings?category=Trending" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
    </a>
    <a href="/listings?category=Rooms" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
    </a>
    <a href="/listings?category=Iconic cities" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
        </div>
    </a>
    <a href="/listings?category=Mountains" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
    </a>
    <a href="/listings?category=Castles" class="filter-link">
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
    </a>
    <a href="/listings?category=Amazing pools" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing pools</p>
        </div>
    </a>
    <a href="/listings?category=Camping" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></i></div>
            <p>Camping</p>
        </div>
    </a>
    <a href="/listings?category=Farms" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-building-wheat"></i></i></div>
            <p>Farms</p>
        </div>
    </a>
    <a href="/listings?category=Arctic" class="filter-link">
        <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></i></div>
            <p>Arctic</p>
        </div>
    </a>
    <a href="/listings?category=Arctic" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-igloo"></i></i></div>
            <p>Domes</p>
        </div>
    </a>
    <a href="/listings?category=Arctic" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-ferry"></i></i></i></div>
            <p>Boats</p>
        </div>
    </a>
    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
        </div>
    </div>
</div>    
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b> <br>
                    <!-- <%= listing.price %> -->
                    <% if (listing.price != null) { %>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                        <i class="tax-info"> &nbsp; &nbsp; +18% GST</i>
                    <% } else { %>
                        Price not available
                    <% } %>
                </p>
                </div>
            </div>
        </a>
    <% } %>
</div>

<script>
    // 🎯 DOMContentLoaded lagane se yeh tabhi chalega jab HTML poori tarah load ho chuka ho
    document.addEventListener("DOMContentLoaded", () => {
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        
        // Ek safe check laga dete hain taaki null ka darr hi khatam ho jaye
        if (taxSwitch) {
            taxSwitch.addEventListener("click", () => {
                let taxInfo = document.getElementsByClassName("tax-info");
                for(info of taxInfo) {
                    if(info.style.display != "inline") {
                        info.style.display = "inline";
                    } else {
                        info.style.display = "none";
                    }
                }
            });
        }
    });
</script>




